// Device UUID
#define DEVICE_ID ""

// Connectivity credentials.
#define NETWORK_SSID ""
#define NETWORK_PASS ""

// MQTT credentials.
#define MQTT_BROKER "";
#define MQTT_PORT 1883;
#define MQTT_USERNAME "";
#define MQTT_PASSWORD "";

// MQTT topics.
#define MQTT_INBOUND_TOPIC "";
#define MQTT_OUTBOUND_TOPIC "";
